.gradle/
build/
bin/
.idea/
.vscode/
*.iml
*.log
*.log.gz
/plugins/
/world/
/world_nether/
/world_the_end/
server.properties
ops.json
whitelist.json
banned-players.json
banned-ips.json
usercache.json
.DS_Store
Thumbs.db
